<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.neptune.manager.mapper.sys.SysRoleMapper" >
  <resultMap id="BaseResultMap" type="com.neptune.manager.domain.bean.sys.SysRole" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="role" property="role" jdbcType="VARCHAR" />
    <result column="description" property="description" jdbcType="VARCHAR" />
    <result column="status" property="status" jdbcType="TINYINT" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, role, description, status, create_time, update_time
  </sql>


  <select id="selectByUid" resultType="com.neptune.manager.domain.bean.sys.SysRole">
    select ro.*
    from tb_sys_user_role ur LEFT JOIN tb_sys_role ro on ur.role_id = ro.id where uid = #{uid}
  </select>
</mapper>